

h1 {
    margin: 0;
    width: 20%;
    padding: 0.1em 0.1em;
    color: $font-color1;
    text-shadow: 0.1em 0.1em 0.1em $shadow;
}
    
header {
    /*Menu hamburguesa*/
    background: $bg-quaternary  ;
    /*justify-content: center;*/
    box-sizing: border-box;
    position: -webkit-sticky;  
    position: sticky;
    top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        width: 20%;
        margin: 0.5em;
        border: 0.2em solid $border-primary;
        border-radius: 28%;
    }    
}
