.right_section {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 25em;
    border-radius: 3px;
    border: 5px solid $border-primary;
    overflow: auto;    
}
.left_section {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 25em;
    border-radius: 3px;
    border: 5px solid $border-primary;
    overflow: auto;
}


.main_section {
   /* display: inline-block;*/
    /*position: relative;*/
    box-sizing: border-box;
    /*overflow: hidden ;*/
    
}
/*
.experience_article {
    box-sizing: border-box;
}*/