.right_section {
    position: relative;
    width: 30%;
    height: 25em;
    border-radius: 3px;
    border: 5px solid $border-primary;    
    /*transform: translate(104%, -129%);*/
}
.left_section {
    position: relative;
    width: 30%;
    height: 25em;
    border-radius: 3px;
    border: 5px solid $border-primary;    
    /*transform: translate(1%, 1%);*/
}


.main_section {
    display: flex;
    /*position: relative;
    box-sizing: border-box;*/
    
}
/*
.experience_article {
    box-sizing: border-box;
}*/