
@media screen and (max-width: 1000px){

    h1 {
        width: 70%;
    }

    div.menu span {
        display: block;
    }

    div.menu input { 
        display: block;
    }

    nav {
        display: flex;
        
    }    




    .ul{
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        align-content: space-between;
        display:none;
        justify-content: space-around;
        border: 2px solid $bg-secondary;
    
    }

}