/*ul {
    display:flex; 
    justify-content: space-around;
}*/
    
li {
    display: inline-block;
    width: 5em;
    border-radius: 50%;
    padding: 0.5em;
    margin: 0.5em ;
    line-height: 1em;
    border: 2px solid $border-primary;
}




.navigator {
    box-sizing: border-box;
    width: 98%;
    height: 7em;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 1em;
    border: 2px solid $bg-primary;    
    /*align-items: center; */
}

.ul{
    
    align-items: center;
    box-sizing: border-box;
    align-content: space-between;
    display:flex;
    justify-content: space-around;
}

.ul li{
    display: inline;
    box-sizing: border-box;
    align-items: center;
    margin: 0.3em auto;
    @extend %circle;
}