@charset "UTF-8";
html {
  font-size: 10px;
  /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
  font-family: "Open Sans", sans-serif;
  /* Este debe ser el resto del resultado que obtuviste de Google fonts */
  color: #000000;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 1px;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.ul li {
  width: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  height: 4em;
  border: 1.5px solid #224b2c;
  border-radius: 30%;
  -webkit-box-shadow: -4px 1px 1px 3px #f7f7e8;
          box-shadow: -4px 1px 1px 3px #f7f7e8;
  line-height: 3em;
  text-align: center;
}

body {
  width: 70%;
  padding: 0 20px 20px 20px;
  border: 5px solid #031e2e;
  margin: 2em auto;
  background-color: #f7f7e8;
}

h1 {
  margin: 0;
  display: inline-block;
  padding: 0.1em 0.1em;
  color: #000000;
  text-shadow: 0.1em 0.1em 0.1em #fae76e;
}

header {
  background: #557174;
  /*justify-content: center;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 1%;
}

header img {
  width: 20%;
  display: inline-block;
  margin: 0.3em auto;
  border: 0.2em solid #031e2e;
  border-radius: 50%;
}

/*ul {
    display:flex; 
    justify-content: space-around;
}*/
li {
  display: inline-block;
  width: 5em;
  border-radius: 50%;
  padding: 0.5em;
  margin: 0.5em;
  line-height: 1em;
  border: 2px solid #031e2e;
}

.navigator {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 98%;
  height: 7em;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 1em;
  border: 2px solid #f7f7e8;
  /*align-items: center; */
}

.ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ul li {
  display: inline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.3em auto;
}

.right_section {
  position: relative;
  display: inline-block;
  width: 30%;
  height: 25em;
  border-radius: 3px;
  border: 5px solid #031e2e;
  overflow: auto;
}

.left_section {
  position: relative;
  display: inline-block;
  width: 30%;
  height: 25em;
  border-radius: 3px;
  border: 5px solid #031e2e;
  overflow: auto;
}

.main_section {
  /* display: inline-block;*/
  /*position: relative;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*overflow: hidden ;*/
}

/*
.experience_article {
    box-sizing: border-box;
}*/
.contact_form {
  width: 35%;
  height: 12em;
  /*float: left;*/
  border-radius: 3px;
  border: 5px solid #031e2e;
  overflow: auto;
  /*transform: translate(176%, -470%);*/
}

.aside-bar {
  /*box-sizing: border-box;*/
  width: 20%;
  height: 30em;
  /*float: left;*/
  border-radius: 3px;
  border: 5px solid #031e2e;
}
/*# sourceMappingURL=style.css.map */